@charset "utf-8";
body  {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    background-color: #D0896D;
}
img {
    display: table;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 220px;
    width: 270px;
}
.im4 {
    width: 290px;
}
.im5 {
    width: 290px;
}
.im6 {
    width: 170px;
}
.im7 {
    width: 290px;
}




.im1 {
    width: 225px;
    height: 220px;
}
.im2 {
    width: 290px;
}
.im3 {
    width: 320px;
}



.central {
}

table {
    background-color: #ECDEC5;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 900px;
}
